.chat-container {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 520px;
    padding-top: 70px;
  }
  
  .chat-header {
    background-color: #4f3805;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .full-profile-button,
  .report-misuse-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width:130px
  }
  
  .chat-messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  .chat-message {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .sender {
    align-items: flex-end;
  }
  
  .receiver {
    align-items: flex-start;
  }
  
  .message-text {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
  }
  
  .sender .message-text {
    background-color: #cfe9ff;
  }
  
  .message-time {
    font-size: 0.8em;
    color: #999;
  }
  
  