
.body-background {
  background-image:url('C:\Users\dell\Desktop\module2 Matrimony\fe\public\Images\mrgg.avif'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-chat {
    display: flex;
    height: 100vh;
  }
  
  .chat-sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
  }
  
  .chat-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  