/* Make sure the html and body take up the full height */


/* Full screen splash screen */
.splash-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  width: 100%;
  height: 100%; /* Full height */
}

.splash-screen h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: rgb(145, 33, 141);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-content h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #333;
}

.card-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.card-content button:hover {
  background-color: #0056b3;
}

.login {
  margin-top: 20px;
  cursor: pointer;
}
