



.row1 {
    display: flex;
    width: 100%;
}

.col-left {
    flex: 0 0 25%;
    background-color: #f8f9fa;
    padding: 20px;
}

.col-right {
    flex: 1;
    padding: 20px;
}

.sidebar1 {
    padding: 10px;
   
}

.sidebar1 h5 {
    margin-bottom: 20px;
}

.sidebar1 ul {
    list-style-type: none;
    padding: 0;
}

.sidebar1 ul li {
    margin-bottom: 10px;
}

.sidebar1 ul li a {
    text-decoration: none;
    color:  green;
}

.sidebar1 ul li a:hover {
    text-decoration:none;
}

.content h4 {
    margin-bottom: 20px;
}

.form-group1 {
    margin-bottom: 20px;
}

.form-group1 label {
    display: block;
    margin-bottom: 5px;
}

.form-group1 select,
.form-group1 textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.nextbutton1 {
    width:100px;  
    cursor: pointer;
    position:fixed;
    right: 100px; /* Adjust as needed */
    bottom: 20px; /* Adjust as needed */
    
}
.content1{
    margin-top: 50px;
}
.form-group1 .age-range {
    display: flex;
    align-items: center;
}

.form-group1 .age-range input {
    width: 80px; /* Adjust width as per your design */
    margin-right: 10px; /* Spacing between inputs */
}

.form-group1 .age-range-separator {
    margin: 0px 15px 15px 10px; /* Space around the separator */
}
