/* Welcome.css */


.welcome-background {
    background-image: url('C:\Users\dell\Desktop\module2 Matrimony\fe\public\Images\mrgg.avif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
