body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background-color: blanchedalmond;
}

h1{
  color: rgb(126, 11, 11);
}
h2{
  color: green;
}
h3{
  color: rgb(145, 33, 141);
}